<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap linked -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <title>Add Plan</title>
</head>
<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/user_page">Go Back</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>

    <div class="jumbotron">

        <h1> Add new Travel Plans!</h1>
        <hr class="my-4">
        <p class="lead">Where do you want to go next?</p>
    </div>


    <div class="container-fluid">

        {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} style="color: red;" class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="/postTravel" name="trip" method="POST"> {% csrf_token %}

            <div class="form-group">
                <label for="destination">Destination</label>
                <input type="text" name="destination" id="destination" placeholder="--add new destination--">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" placeholder="--add a description--">
            </div>
            <div class="form-group">
                <label for="travel_from">Travel Date From</label>
                <input type="date" name="travel_from" id="travel_from" required>
            </div>
            <div class="form-group">
                <label for="travel_from">Travel Date To</label>
                <input type="date" name="travel_to" id="travel_to" required>
            </div>
            <button type="submit">Create</button>
        </form>
    </div>





<!-- JS Scripts for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>